.header-cnt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: var(--card);
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  z-index: 10000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dark .header-cnt {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-cnt {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-details {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.profile-details h5 {
  color: var(--text);
  font-size: 14px;
  margin: 0;
}

.profile-details button {
  background: var(--primary);
  border: none;
  padding: 8px 18px;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  margin-right: 30px;
}

.profile-details button:hover {
  opacity: 0.85;
}

.link-btn {
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
}

.link-btn:hover {
  opacity: 0.8;
}

body {
  padding-top: 70px;
}